# Docker
db_data/

# WordPress
wp-admin/
wp-includes/
wp-content/plugins/
wp-content/uploads/
wp-content/languages/

# Ignore default themes
wp-content/themes/twentytwenty*
wp-content/themes/twenty*

# Allow only our theme
!wp-content/themes/tomato-theme/

# Static build output (生成物は管理しない)
static/

# Ignore varieties JSON files
static-src/leek/varieties.json
static-src/tomato/varieties.json
static-src/strawberry/varieties.json

# OS
.DS_Store

# env
.env.local
.env.stg
